* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-image: url("./img/Фон 1.png");
  width: 100%;
  background-size: 100%;
}

.header {
  width: 100%;
  height: 58px;
  opacity: 100%;
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 22px;
}
span {
  color: white;
}

.right-text {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header-left {
  color: white;
  padding-left: 80px;
}

.header-right {
  display: flex;
  padding-right: 80px;
  justify-content: space-around;
  gap: 27px;
}

.line {
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 50%;
}

.header:hover {
  color: green;
}

.header-green {
  margin: 3px;
}

.header:hover .header-green {
  color: green;
  opacity: 0.8;
  transition: 2s;
}

.icon-svg {
  color: white;
}

.header:hover .icon-svg {
  color: green;
  opacity: 0.8;
  transition: 2s;
}

.conteiner {
  margin: 0 auto;
  margin-top: 54px;
  background-color: white;
  width: 444px;
  height: 100%;
  padding-bottom: 20px;
}

.square {
  position: relative;
  top: 30px;
  background-color: #3cb878;
  width: 18px;
  height: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  margin: 0 auto;
  padding-bottom: 74px;
  width: 324px;
}

.section-tittle {
  font-size: 20px;
}

.section-subtittle {
  font-size: 14px;

  color: #3cb878;
}

.icons {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  margin: 0 auto;
  width: 324px;
}

div button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 160px;
  height: 48px;
  color: #fff;
}

.line-facebook {
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 10%;
}

.line-google {
  width: 1px;
  height: 28px;
  background-color: #2b0d09;
  opacity: 10%;
  margin-left: -14px;
}

.facebook {
  background-color: blue;
}

.google {
  background-color: red;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: #fff;
  padding: 0 5px 0 2px;
}

.devide::before {
  content: "";
  display: block;
  width: 324px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: calc(50%);
  background-color: #f2f2f2;
}

.devide {
  margin-top: 70px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.shadow {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.form-section {
  width: 324px;
  height: 280px;
  margin: 0 auto;
  margin-top: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}

.confirm {
  margin: 0 auto;
  width: 324px;
  height: 86px;
  margin-top: 12px;
}
.checkbox-left {
  size: 14px;
  color: #434343;
  font-family: Verdana, sans-serif;
  margin-left: 8px;
}

.checkbox-right {
  size: 14px;
  color: #3cb878;
  font-family: Verdana, sans-serif;
}

.submit {
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.button {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border: 1px solid rgba(60, 184, 120, 0.8);
  color: white;
}

.checkbox-conteiner .checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border: radius 3px;
  position: relative;
  top: 11px;
  left: 0;
  transform: translateY(-50%);
}

.checkbox-conteiner {
  display: flex;
}

.checkmark::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("./img/Vector\ 1.svg");
  opacity: 0;
}

.checkbox-conteiner .checkbox:checked ~ .checkmark::after {
  opacity: 1;
}

.conteiner:hover .facebook {
  background-color: #022263;
  transition: 2s;
}

.conteiner:hover .google {
  background-color: #ab1f09;
  transition: 2s;
}

.conteiner:hover .section-subtittle {
  color: #01813f;
  text-decoration: underline;
  transition: 2s;
}

.conteiner:hover .checkbox-right {
  color: #01813f;
  text-decoration: underline;
  transition: 2s;
}

.conteiner:hover .button {
  background-color: #01813f;
  transition: 2s;
}
